<template>
  <div @click="deleteProduct" class="delete-button"><DeleteIcon /></div>
</template>

<script setup>
import DeleteIcon from "@/components/icons/DeleteIcon.vue";
const props = defineProps({
  isActive: Boolean,
  textButton: String,
});

const emit = defineEmits(["delete"]);

function deleteProduct() {
  emit("delete");
}
</script>

<style lang="scss" scoped>
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #ff8484;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
</style>
