<template>
  <div class="filter">
    <select v-model="sortedType">
      <option v-for="item in sortTypeList" :key="item">
        {{ item }}
      </option>
    </select>
  </div>
</template>

<script setup>
import { ref, watch } from "vue";
const emit = defineEmits(["change-filter"]);

const sortTypeList = [
  "По умолчанию",
  "По цене min",
  "По цене max",
  "По наименованию",
];
const sortedType = ref(sortTypeList[0]);

watch(
  () => sortedType,
  () => emit("change-filter", sortedType.value),
  { deep: true }
);
</script>

<style lang="scss" scoped>
.filter {
  width: 121px;
  height: 36px;
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  width: 90px;
  padding-left: 0px;
  border: 0px;
  font-size: 12px;
  line-height: 15px;
  color: #b4b4b4;
  &:focus-visible {
    outline: 0px;
  }
}
</style>
