<template>
  <div
    class="product-card"
    @mouseover="hover = true"
    @mouseleave="hover = false"
  >
    <div v-if="hover" class="product-card__delete-button">
      <DeleteButton @delete="deleteProduct" />
    </div>
    <div class="product-card__image">
      <img
        :src="product.imageUrl"
        :alt="product.name"
        @error="replaceByDefault"
      />
      />
    </div>
    <div class="product-card__info">
      <div class="product-card__title">{{ product.name }}</div>
      <div class="product-card__discription">{{ product.discription }}</div>
      <div class="product-card__price">
        {{ priceMask(product.price) }}
      </div>
    </div>
  </div>
</template>

<script setup>
import img from "@/assets/img/not-photo.jpg";
import { ref } from "vue";
import DeleteButton from "@/components/products/DeleteButton.vue";

const props = defineProps({
  product: Object,
});
const emit = defineEmits(["delete"]);

const hover = ref(false);

function deleteProduct() {
  emit("delete");
}

// Хотел регуляркой, но не смог =)
function priceMask(price) {
  let newPrice = "";
  for (let i = 0; i < price.length; i++) {
    if (!((price.length - i - 1) % 3)) {
      newPrice += price[i] + " ";
    } else {
      newPrice += price[i];
    }
  }
  return newPrice;
}

function replaceByDefault(event) {
  event.target.src = img;
}
</script>

<style lang="scss" scoped>
.product-card {
  position: relative;

  background: #fffefb;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  cursor: pointer;

  &__delete-button {
    position: absolute;
    right: -16px;
    top: -16px;
  }

  &__image {
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    padding: 24px 24px 16px 24px;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #3f3f3f;
    margin-bottom: 16px;
  }
  &__discription {
    font-size: 16px;
    line-height: 20px;
    color: #3f3f3f;
    margin-bottom: 32px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #3f3f3f;
  }
}
</style>
