<template>
  <div @click="addProduct" class="add-button">
    <button :class="{ active: isActive }">{{ textButton }}</button>
  </div>
</template>

<script setup>
const props = defineProps({
  isActive: Boolean,
  textButton: String,
});

const emit = defineEmits(["change"]);

function addProduct() {
  if (props.isActive) {
    emit("change");
  }
}
</script>

<style lang="scss" scoped>
.add-button {
}
button {
  width: 100%;
  height: 36px;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 0px solid;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #b4b4b4;
  cursor: pointer;
}

.active {
  color: #ffffff;
  background-color: #7bae73;
}
</style>
