<template>
  <div class="addetor-input">
    <input
      @blur="setWrong"
      @input="setValue"
      :class="{ wrong }"
      type="text"
      :placeholder="placeholder"
      :value="value"
    />
    <div v-if="wrong" class="addetor-input__wrong">
      Поле является обязательным
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  placeholder: String,
  wrong: Boolean,
  type: String,
  inputType: String,
  value: String,
});
const emit = defineEmits(["set-input-value", "set-wrong"]);

function setValue(event) {
  emit("set-input-value", { value: event.target.value, type: props.type });
}
function setWrong(event) {
  if (!event.target.value) emit("set-wrong", props.type);
}
</script>

<style lang="scss" scoped>
.addetor-input {
  &__wrong {
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.02em;
    padding-top: 4px;
    color: #ff8484;
  }
}

input {
  width: 100%;
  height: 36px;
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid;
  padding: 10px 16px;
  color: #3f3f3f;
  outline: none;

  &:before,
  &:after,
  &:hover,
  &:focus {
    outline: none;
    border: 1px solid rgb(106, 151, 241);
  }
  &:placeholder-shown {
    font-size: 12px;
    line-height: 15px;
    color: #b4b4b4;
  }
}
.wrong {
  border: 1px solid #ff8484;
}
</style>
