<template>
  <div class="addetor-input">
    <textarea
      type="text"
      :placeholder="placeholder"
      @input="setValue"
      :value="value"
    />
  </div>
</template>

<script setup>
const props = defineProps({
  placeholder: String,
  value: String,
});
const emit = defineEmits(["set-input-value"]);

function setValue(event) {
  emit("set-input-value", { value: event.target.value, type: "discription" });
}
</script>

<style lang="scss" scoped>
.addetor-input {
}
textarea {
  width: 100%;
  height: 108px;
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid;
  padding: 10px 16px;
  color: #3f3f3f;
  resize: none;

  &:before,
  &:after,
  &:hover,
  &:focus {
    outline: none;
    border: 1px solid rgb(106, 151, 241);
  }
  &:placeholder-shown {
    font-size: 12px;
    line-height: 15px;
    color: #b4b4b4;
  }
}
</style>
