<template>
  <div class="container">
    <div class="addetor"></div>
    <div class="addetor__field">
      <div class="addetor__input-name">
        <span>Наименование товара</span><RedPoint />
      </div>
      <AddetorInput
        :placeholder="'Введите наименование товара'"
        :wrong="wrongs.name"
        :type="'name'"
        :value="newProduct.name"
        @set-input-value="setInputValue"
        @set-wrong="setWrong"
      />
    </div>
    <div class="addetor__field">
      <div class="addetor__input-name">
        <span>Описание товара</span>
      </div>
      <AddetorTextarea
        @set-input-value="setInputValue"
        :placeholder="'Введите описание товара'"
        :value="newProduct.discription"
      />
    </div>
    <div class="addetor__field">
      <div class="addetor__input-name">
        <span>Ссылка на изображение товара</span><RedPoint />
      </div>
      <AddetorInput
        :placeholder="'Введите ссылку'"
        :wrong="wrongs.imageUrl"
        :type="'imageUrl'"
        :value="newProduct.imageUrl"
        @set-input-value="setInputValue"
        @set-wrong="setWrong"
      />
    </div>
    <div class="addetor__field">
      <div class="addetor__input-name">
        <span>Цена товара</span><RedPoint />
      </div>
      <AddetorInput
        :type="'price'"
        :placeholder="'Введите цену'"
        :wrong="wrongs.price"
        :value="newProduct.price"
        @set-input-value="setInputValue"
        @set-wrong="setWrong"
      />
    </div>

    <div>
      <AddButton
        :is-active="isNewProductValide"
        :text-button="'Добавить товар'"
        @change="addProdict"
      />
    </div>
  </div>
</template>

<script setup>
import AddetorInput from "@/components/addetor/AddetorInput.vue";
import AddetorTextarea from "@/components/addetor/AddetorTextarea.vue";
import RedPoint from "./addetor/RedPoint.vue";
import AddButton from "@/components/addetor/AddButton.vue";
import { ref, computed, watch } from "vue";
const props = defineProps({ productCounter: Number });
const emit = defineEmits(["add-product"]);

const newProduct = ref({
  name: "",
  discription: "",
  price: "",
  imageUrl: "",
});
const wrongs = ref({
  name: false,
  price: false,
  imageUrl: false,
});
const isNewProductValide = computed(() => {
  return (
    !!newProduct.value.name &&
    !!newProduct.value.price &&
    !!newProduct.value.imageUrl
  );
});

function setInputValue({ value, type }) {
  wrongs.value[type] = false;
  newProduct.value[type] = value;
}
function setWrong(type) {
  wrongs.value[type] = true;
}

function addProdict() {
  emit("add-product", Object.assign({}, newProduct.value));
}

watch(
  () => props.productCounter,
  (newValue, oldValue) => {
    if (newValue > oldValue) {
      newProduct.value.name = "";
      newProduct.value.discription = "";
      newProduct.value.price = "";
      newProduct.value.imageUrl = "";
    }
  }
);
</script>

<style lang="scss" scoped>
.container {
  background: #fffefb;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 24px;
}
.addetor {
  &__field {
    padding-bottom: 16px;
  }
  &__input-name {
    display: flex;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.02em;
    color: #49485e;
    padding-bottom: 4px;
  }
}
</style>
