<template>
  <div class="add-product">
    <div class="adderator">
      <AdderatorProduct
        :productCounter="productCounter"
        @add-product="addProdict"
      />
    </div>
  </div>
</template>

<script setup>
import AdderatorProduct from "./AdderatorProduct.vue";
const emit = defineEmits(["add-product"]);
const props = defineProps({ productCounter: Number });

function addProdict(event) {
  emit("add-product", event);
}
</script>

<style lang="scss" scoped>
.add-product {
  display: flex;
}
.adderator {
  width: 332px;
  padding-bottom: 16px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
</style>
