<template>
  <div class="product-list">
    <ProductCard
      v-for="(product, index) in products"
      :key="index"
      :product="product"
      @delete="deleteProduct(index)"
    />
  </div>
</template>

<script setup>
import ProductCard from "@/components/products/ProductCard.vue";
const props = defineProps({ products: Object });

const emit = defineEmits(["delete"]);

function deleteProduct(id) {
  emit("delete", id);
}
</script>

<style lang="scss" scoped>
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  @media (min-width: 1920px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 767px) and (max-width: 1280px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}
</style>
