<script setup>
import AppLayoutDefault from "@/layouts/AppLayoutDefault.vue";
</script>

<template>
  <AppLayoutDefault />
</template>

<style>
html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
}

* {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  display: flex;
  min-height: 100%;
  min-width: 100%;
}
</style>
