<template>
  <div class="wrapper">
    <header>
      <span>Добавление товара</span>
      {{ filter }}
      <FilterProduct @change-filter="setFilter" />
    </header>
    <div class="content">
      <AddProduct :productCounter="products.length" @add-product="addProdict" />
      <ProductList :products="sortedProducts" @delete="deleteProduct" />
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from "vue";
import AddProduct from "@/components/AddProduct.vue";
import ProductList from "@/components/ProductList.vue";
import { getProducts, setProducts } from "@/repository/repository";
import FilterProduct from "../components/products/FilterProduct.vue";
const products = ref([]);

function addProdict(product) {
  products.value.unshift(product);
  setProducts(products.value);
}
function deleteProduct(id) {
  products.value.splice(id, 1);
  setProducts(products.value);
}
const filter = ref("");
function setFilter(filterType) {
  filter.value = filterType;
}

const sortedProducts = computed(() => {
  if (filter.value === "По цене max") {
    return (
      products.value
        .map((item) => item)
        // Убираем проблелы, приводим к числу, српаниваем.
        .sort((a, b) => +b.price.replace(" ", "") - +a.price.replace(" ", ""))
    );
  } else if (filter.value === "По цене min") {
    return products.value
      .map((item) => item)
      .sort((a, b) => +a.price.replace(" ", "") - +b.price.replace(" ", ""));
  } else if (filter.value === "По наименованию") {
    return products.value.map((item) => item).sort((a, b) => a.name + b.name);
  } else {
    return products.value;
  }
});

products.value = getProducts();
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  background: #faf9f7;
}

header {
  display: flex;

  justify-content: space-between;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #3f3f3f;
}
.content {
  padding: 16px 0;
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: 332px auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
</style>
